<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Servlet4</display-name>
  
<servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>serv.HelloServlet</servlet-class>

</servlet>

<servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/location</url-pattern>

</servlet-mapping>  

<servlet>
    <servlet-name>world</servlet-name>
    <servlet-class>serv.WorldServlet</servlet-class>

</servlet>

<servlet-mapping>
    <servlet-name>world</servlet-name>
    <url-pattern>/world</url-pattern>

</servlet-mapping>
  
</web-app>